.home {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;

    & .addTask {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    & .tablesContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

}